body {
	color: #535353;
	font-family: "Open Sans","Tahoma","Verdana","Arial", sans-serif;
}

img {
	border:0px;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	line-height: 27px;
}

a:link {
	text-decoration: none;
}

#container {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}

#header {
	margin: 30px 0;
	position: relative;
}

.wrap {
	overflow: hidden;
}

.logo {
	display: inline-block;
	float: left;
	height: 55px;
	overflow: hidden;
	width: 400px;
}

.date {
	color: #AEAEAE;
	float: left;
	font-size: 14px;
	margin-right: 30px;
	width: 300px;
	margin-top: 15px;
}

.social {
	max-width: 207px;
	float: right;
}

.socialcnt .cont, .socialcnt .text {
	text-align: right;
	color: #FFFFFF;
}

.socialcnt {
	margin-bottom: 30px;
}

.facebook, .twitter, .vk, .gplus {
	width: 107px;
	height: 107px;
	padding: 10px;
	float: left;
}

.facebook {
	background: #3C5B9B;
	margin-right: 16px;
}

.twitter {
	background: #59C8FF;
	margin-left: 18px;
}

.vk {
	background: #3C668E;
	margin-right: 16px;
}

.cont {
	font-size: 22px;
	margin-top: 30px;
}

.socialcnt a {
	color: #FFFFFF;
}

#menu {
	width: 100%;
	background: #333333;
	float: left;
	position: relative;
	z-index: 30;
	margin-top: 30px;
	height: 60px;
}

.social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social li {
	margin-left: 5px;
	float: left;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	list-style-type: none;
	position: relative;
	z-index: 99;
}

#menu li {
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px;
}

#menu a {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	padding: 18px 22px;
	text-align: center;
}

#menu a:link {
	text-decoration: none;
}

#menu a:hover, #menu .active{
	background: #359BED;
}

#addthis_button_block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	list-style-type: none;
	position: relative;
	z-index: 99;
}

#addthis_button_block li {
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
}
#footer {
	border-top: 1px solid #EEEEEE;
	padding-top: 10px;
}

#main {
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 700px;
	float: left;
	overflow: hidden;
}

.widget h3 {
	background-image: url( '/img/user_default/arrow-circle.png' );
	background-position: 96% 12px;
	background-repeat: no-repeat;
	background-color: #359BED;
	padding: 8px 12px;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}

.sidebar .widget {
	margin-bottom: 30px;
	overflow: hidden;
	display: block;
}

.sidebar {
	float: left;
}

.field {
	margin: 10px 0;
}

.widget input.text, .widget .textarea, .form_block input.text, .form_block .textarea {
	padding: 10px;
	width: 90%;
	border: 1px solid #eee;
}

select {
	padding: 10px;
	width: 93%;
	border: 1px solid #eee;
}

.label_info{
	margin-left: 15px;
	font-size: 12px;
	color: #bcbcbc;
	font-weight: normal;
}

.acc_input {
	padding-bottom: 10px;
}

.auth_body h1 {
	margin-bottom: 0px;
}

.logm_err {
	margin-bottom: 30px;
	color: #ff4b33;
	font-weight: bold;
	display: block;
}

.auth_body .login_email, .login_pass {
	float: left;
	width: 300px;
	margin-right: 30px;
}

.auth_body label {
	display: block;
	font-size: 18px;
}

.auth_body input {
	display: block;
	font-size: 14px;
	padding: 14px;
	border: 1px solid #E6E6E6;
	margin-bottom: 30px;
	color: #AEAEAE;
	width: 280px;
}

.auth_body .login_submit {
	margin-bottom: 0px;
}

.input_submit {
	background: #FA824F;
	color: #FFFFFF !important;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	border: none;
	margin: 10px 0px 50px;

}

.poweredby {
	float: right;
	height: 40px;
}

.cpyright {
	float: left;
	height: 40px;
}

.femailphone {
	text-align: center;
}

.clearpos {
	clear: both;
}
