[% h.layout_var( 'meta_title', 'Главная' ) %]
[% h.layout_var( 'meta_desc', 'На сайте Image-make.ru вы сможете найти любую информацию о создании стиля.') %]
<div class="main_vitr">
</div>
<div class="clear"></div>
