<body style="padding:0px;margin:0px;">

<a href="/" style="border:0px;display:block;margin:30px auto;width:240px;"><img src="/img/logo.gif" /></a>

<div style="font-family:tahoma, sans-serif;font-size:40px;margin:100px auto;width:700px;color:#666;text-align:center">Ссылка устарела, или такой аккаунт уже активирован...</div>

</body>